<mat-toolbar>
  <span>E2E Task</span>
  <span class="example-spacer"></span>
  <button
    class="btn"
    mat-flat-button
    routerLinkActive="mat-accent"
    routerLink="/home"
  >
    Home
  </button>

  <button
    mat-flat-button
    class="btn"
    routerLinkActive="mat-primary"
    routerLink="/form-builder"
  >
    Form Builder
  </button>
  <button
    mat-flat-button
    class="btn"
    routerLinkActive="mat-warn"
    routerLink="/form-preview"
  >
    Form Preview
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
